/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.label{
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-max-width:400px;
	-fx-wrap-text:true;
}
.title{
	-fx-font-size: 20px;
}

.pane{
	-fx-background-color: white;
	-fx-border-color: black;
}

.button{
	-fx-font-weight: bold;
	-fx-font-size: 15px;
	-fx-background-color: white;
	-fx-content-display : right;
}
.combo-box{
	-fx-font-size: 11px;
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-border-color: grey;
	-fx-border-radius: 5px;
}

.lapel-niveau{
	-fx-font-size: 11px;
	-fx-font-weight: bold;
	-fx-text-fill : white;
	-fx-pref-width: 130;
	-fx-pref-height: 30;
	-fx-alignment:  center;
	-fx-background-color: rgb(240, 240, 240);
	-fx-border-radius: 8; 
    -fx-background-radius: 8;
}

.lapel-niveau-true{
	-fx-background-color: rgb(1, 134, 28);
}